## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [6]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
for x in application_df.columns:
    print(x, len(application_df[x].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [7]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = list(counts[counts<500].index)
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [9]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
count_binning = application_df['CLASSIFICATION'].value_counts()

In [11]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
counts_classification = count_binning[count_binning >1]
counts_classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [12]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classifications_to_replace = list (count_binning[count_binning<100].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [13]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

y = application_df['IS_SUCCESSFUL'].values
y

array([1, 1, 0, ..., 0, 1, 0])

In [16]:
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
X

array([[1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 1.0859000e+05, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       ...,
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 5.0000000e+03, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00],
       [1.0000000e+00, 3.6500179e+07, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 0.0000000e+00]])

In [17]:
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
input_features = len( X_train_scaled[0])
hidden_layer1=9
hidden_layer2=18
hidden_layer3=27
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_layer1, input_dim=input_features, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hidden_layer2, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 450

 dense_1 (Dense)             (None, 18)                180

 dense_2 (Dense)             (None, 1)                 19

=================================================================
Total params: 649
Trainable params: 649
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [21]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=80)

Epoch 1/80
684/684 [==============================] - 3s 2ms/step - loss: 0.6024 - accuracy: 0.6895 - val_loss: 0.5550 - val_accuracy: 0.7357
Epoch 2/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5653 - accuracy: 0.7209 - val_loss: 0.5498 - val_accuracy: 0.7331
Epoch 3/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5593 - accuracy: 0.7235 - val_loss: 0.5500 - val_accuracy: 0.7370
Epoch 4/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5566 - accuracy: 0.7267 - val_loss: 0.5470 - val_accuracy: 0.7357
Epoch 5/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5546 - accuracy: 0.7286 - val_loss: 0.5441 - val_accuracy: 0.7383
Epoch 6/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5522 - accuracy: 0.7286 - val_loss: 0.5461 - val_accuracy: 0.7365
Epoch 7/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5512 - accuracy: 0.7295 - val_loss: 0.5452 - val_accuracy: 0.7359
Epoch 8/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5504 - accuracy: 0.7288 - val_loss: 0.5478 - val_accuracy: 0.7339
Epoch 9/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7295 - val_loss: 0.5442 - val_accuracy: 0.7365
Epoch 10/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5494 - accuracy: 0.7311 - val_loss: 0.5444 - val_accuracy: 0.7352
Epoch 11/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5490 - accuracy: 0.7309 - val_loss: 0.5443 - val_accuracy: 0.7375
Epoch 12/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5487 - accuracy: 0.7316 - val_loss: 0.5444 - val_accuracy: 0.7370
Epoch 13/80
684/684 [==============================] - 3s 5ms/step - loss: 0.5480 - accuracy: 0.7314 - val_loss: 0.5438 - val_accuracy: 0.7367
Epoch 14/80
684/684 [==============================] - 4s 6ms/step - loss: 0.5477 - accuracy: 0.7319 - val_loss: 0.5436 - val_accuracy: 0.7372
Epoch 15/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7307 - val_loss: 0.5462 - val_accuracy: 0.7375
Epoch 16/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7319 - val_loss: 0.5461 - val_accuracy: 0.7300
Epoch 17/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5470 - accuracy: 0.7310 - val_loss: 0.5447 - val_accuracy: 0.7336
Epoch 18/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5469 - accuracy: 0.7307 - val_loss: 0.5455 - val_accuracy: 0.7372
Epoch 19/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5467 - accuracy: 0.7312 - val_loss: 0.5448 - val_accuracy: 0.7370
Epoch 20/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7315 - val_loss: 0.5436 - val_accuracy: 0.7359
Epoch 21/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7318 - val_loss: 0.5431 - val_accuracy: 0.7370
Epoch 22/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7315 - val_loss: 0.5437 - val_accuracy: 0.7362
Epoch 23/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7322 - val_loss: 0.5451 - val_accuracy: 0.7365
Epoch 24/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7320 - val_loss: 0.5442 - val_accuracy: 0.7362
Epoch 25/80
684/684 [==============================] - 2s 4ms/step - loss: 0.5453 - accuracy: 0.7317 - val_loss: 0.5436 - val_accuracy: 0.7346
Epoch 26/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7325 - val_loss: 0.5450 - val_accuracy: 0.7365
Epoch 27/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7301 - val_loss: 0.5436 - val_accuracy: 0.7362
Epoch 28/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7317 - val_loss: 0.5427 - val_accuracy: 0.7365
Epoch 29/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7338 - val_loss: 0.5443 - val_accuracy: 0.7367
Epoch 30/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7331 - val_loss: 0.5445 - val_accuracy: 0.7359
Epoch 31/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7317 - val_loss: 0.5442 - val_accuracy: 0.7354
Epoch 32/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7319 - val_loss: 0.5429 - val_accuracy: 0.7362
Epoch 33/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7334 - val_loss: 0.5447 - val_accuracy: 0.7359
Epoch 34/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5451 - accuracy: 0.7325 - val_loss: 0.5455 - val_accuracy: 0.7334
Epoch 35/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7328 - val_loss: 0.5467 - val_accuracy: 0.7302
Epoch 36/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7330 - val_loss: 0.5436 - val_accuracy: 0.7344
Epoch 37/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7335 - val_loss: 0.5450 - val_accuracy: 0.7323
Epoch 38/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7334 - val_loss: 0.5443 - val_accuracy: 0.7321
Epoch 39/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7326 - val_loss: 0.5432 - val_accuracy: 0.7346
Epoch 40/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7335 - val_loss: 0.5459 - val_accuracy: 0.7315
Epoch 41/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7338 - val_loss: 0.5433 - val_accuracy: 0.7370
Epoch 42/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7326 - val_loss: 0.5428 - val_accuracy: 0.7357
Epoch 43/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7334 - val_loss: 0.5432 - val_accuracy: 0.7354
Epoch 44/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7333 - val_loss: 0.5444 - val_accuracy: 0.7323
Epoch 45/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7310 - val_loss: 0.5453 - val_accuracy: 0.7357
Epoch 46/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7330 - val_loss: 0.5443 - val_accuracy: 0.7357
Epoch 47/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7330 - val_loss: 0.5452 - val_accuracy: 0.7367
Epoch 48/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7339 - val_loss: 0.5452 - val_accuracy: 0.7344
Epoch 49/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5438 - accuracy: 0.7343 - val_loss: 0.5440 - val_accuracy: 0.7352
Epoch 50/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7340 - val_loss: 0.5427 - val_accuracy: 0.7362
Epoch 51/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7325 - val_loss: 0.5433 - val_accuracy: 0.7344
Epoch 52/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7336 - val_loss: 0.5451 - val_accuracy: 0.7362
Epoch 53/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7334 - val_loss: 0.5428 - val_accuracy: 0.7372
Epoch 54/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7334 - val_loss: 0.5440 - val_accuracy: 0.7362
Epoch 55/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7343 - val_loss: 0.5433 - val_accuracy: 0.7362
Epoch 56/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5432 - accuracy: 0.7330 - val_loss: 0.5432 - val_accuracy: 0.7367
Epoch 57/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7344 - val_loss: 0.5444 - val_accuracy: 0.7352
Epoch 58/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7334 - val_loss: 0.5443 - val_accuracy: 0.7354
Epoch 59/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7330 - val_loss: 0.5424 - val_accuracy: 0.7365
Epoch 60/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7341 - val_loss: 0.5434 - val_accuracy: 0.7357
Epoch 61/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7331 - val_loss: 0.5442 - val_accuracy: 0.7357
Epoch 62/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7340 - val_loss: 0.5466 - val_accuracy: 0.7274
Epoch 63/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7345 - val_loss: 0.5442 - val_accuracy: 0.7349
Epoch 64/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5431 - accuracy: 0.7334 - val_loss: 0.5448 - val_accuracy: 0.7362
Epoch 65/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5430 - accuracy: 0.7344 - val_loss: 0.5462 - val_accuracy: 0.7344
Epoch 66/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5427 - accuracy: 0.7340 - val_loss: 0.5446 - val_accuracy: 0.7357
Epoch 67/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7341 - val_loss: 0.5466 - val_accuracy: 0.7354
Epoch 68/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7330 - val_loss: 0.5458 - val_accuracy: 0.7372
Epoch 69/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7342 - val_loss: 0.5440 - val_accuracy: 0.7359
Epoch 70/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7332 - val_loss: 0.5442 - val_accuracy: 0.7308
Epoch 71/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7345 - val_loss: 0.5433 - val_accuracy: 0.7367
Epoch 72/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7339 - val_loss: 0.5433 - val_accuracy: 0.7326
Epoch 73/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7331 - val_loss: 0.5447 - val_accuracy: 0.7357
Epoch 74/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5422 - accuracy: 0.7340 - val_loss: 0.5452 - val_accuracy: 0.7357
Epoch 75/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7342 - val_loss: 0.5448 - val_accuracy: 0.7354
Epoch 76/80
684/684 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7349 - val_loss: 0.5431 - val_accuracy: 0.7370
Epoch 77/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7349 - val_loss: 0.5455 - val_accuracy: 0.7276
Epoch 78/80
684/684 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7336 - val_loss: 0.5434 - val_accuracy: 0.7357
Epoch 79/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7340 - val_loss: 0.5443 - val_accuracy: 0.7362
Epoch 80/80
684/684 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7332 - val_loss: 0.5435 - val_accuracy: 0.7349

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5522 - accuracy: 0.7312 - 415ms/epoch - 2ms/step
Loss: 0.5522038340568542, Accuracy: 0.731195330619812

In [25]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files
nn.save('/content/AlphabetSoupCharity_Optimization.h5')